.figre {
    position: relative;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.figre:hover {
    transform: scale(1.1);
}







h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
}

h5 {
    font-size: 14px;
    color: #333;
}

h5.text-green-600 {
    color: #28a745;
}



.card:hover .btn{
    transform: translate( -50% , 0);
}


.btn:hover {
    background-color: #0056b3;
    opacity: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

